/* ------------------  Global Styling ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


:root {
    --shaddow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
    background-color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
}






/* ------------------  Register Page ------------------ */

#form-container {
    width: 400px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    display: block;
    width: 100px;
    margin: 0 auto;
}

#welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

#welcome-message h1 {
    font-size: 36px;
}


#welcome-message p {
    font-size: 16px;
    color: rgb(97, 98, 105);
    font-weight: 300;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input {
    width: 100%;
    border: 2px solid rgb(198, 219, 202);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-field input[type='submit'] {
    background-color: rgb(75, 172, 111);
    border: none;
    color: #fff;
}


@media screen and (max-width:450px) {
    #form-container {
        width: 95%;

    }

    #welcome-message h1 {
        font-size: 24px;
    }

}


/* ----------------- Room Styling ------------------*/
#room-name-wrapper {
    text-align: center;
    font-size: 18px;
}

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 172, 127);
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(198, 219, 198);
    position: relative;

}





.video-player {
    height: 100%;
    width: 100%;
}

.video-player>* {
    border-radius: 5px;
}



.username-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}











@media screen and (max-width:1650px) {
    .video-container {
        flex-basis: 300px;
        min-height: 200px;
    }
}


/* ----------------- Room Styling | Controls ------------------*/

#controls-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon {
    height: 20px;
    width: 20px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);

}







.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}